/* General styles */
.container {
    padding: 24px;

}

/* BlockList component styles */
.blockchain-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.block-list {
    list-style-type: none;
    padding: 0;
}

.block-item {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    background-color: #8de2e2; /* El color Emerald que deseas utilizar */
}

/* PatientForm component styles */
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    color: #4a5568;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #4a5568;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-input:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.submit-button {
    background-color: #4299e1;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.submit-button:hover {
    background-color: #2b6cb0;
}